*.mp3
*.webm*
*.vscode*
/airflow/dags/astro
/airflow/dags/bblue_exercises
/airflow/dags/gpt-practice
/airflow/dags/practice
/airflow/dags/.airflowignore
__pycache__
/airflow/logs/*
sample-project-aa/text
sample-project-aa/text.zip
sample-project-aa/json
sample-project-aa/apps/comment-scraper-2/output/*.json
